<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manager</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <h2>/manager.html</h2>
    <hr>

    <a th:href="@{/authLoginSuccess}">Go Back</a>

    <hr>

    <form action="logout" method="get">
        <input type="submit" value="로그아웃">
    </form>
</body>

</html>