<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginSuccess.html</title>

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

    <h1>/templates/loginSuccess.html</h1>
    
    <hr>

    <h3>Welcome ^^, You are authorized</h3>
    
    <ol>
        <li><a th:href="@{/}">Index</a></li>
        <li><a th:href="@{/member}">Member</a></li>
        <li><a th:href="@{/manager}">Manager</a></li>
        <li><a th:href="@{/admin}">Admin</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ol>
</body>
</html>