<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>index.mustache</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" defer></script>
</head>

<body>
    <h4>/index.mustache</h4>
    <hr>

    <h4>Spring Security OAuth2 For Google</h4>
    
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">Registration</a>

                {{#userName}}
                    Logges in as : <span id="user">{{userName}}</span>

                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}

                {{^userName}}
                    <a href="/oauth2/authorization/google"  class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver"   class="btn btn-success active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>
    </div>
</body>

</html>